<body class="container px5">
<h1>商品一覧</h1>
<%= link_to '新規登録', new_admin_item_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr class="table-active">
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">ジャンル</th>
      <th scope="col">価格</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @items.each do |f| %>
      <td><%= f.id %></td>
      <td><%= link_to f.name, admin_item_path(f) %></td>
      <td><%= f.genre.name %></td>
      <td><%= f.price %>円</td>
    </tr>
      <% end %>
  </tbody>
</table>
</body>

