<h1>会員情報編集ページ</h1>



<p>会員ID <%= @customer.id %></p>

<%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
<p>氏名<%= f.text_field :last_name %> <%= f.text_field :first_name %></p>
<p>フリガナ<%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></p>
<p>郵便番号<%= f.text_field :postal_code %></p>
<p>住所<%= f.text_field :address %></p>
<p>電話番号<%= f.text_field :telephone_number %></p>
<p>メールアドレス<%= f.text_field :email %></p>
<p>会員ステータス <%= f.radio_button :is_active, 'true' %><label>有効</label> <%= f.radio_button :is_active, 'false' %><label>退会</label></p>

<%= f.submit '変更を保存' %>



<% end %>