<h1>会員一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @customers.each do |f| %>
      <td><%= f.id %></td>
      <td>
        <%= link_to admin_customer_path(f) do %>
        <%= f.last_name %>
        <%= f.first_name %>
        <% end %>
      </td>
      <td><%= f.email %></td>
      <td><%= f.is_active %></td>
    </tr>
      <% end %>
  </tbody>
</table>
