<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報</h3>

<p>会員id</p>
<%= @customer.id %>

<p>氏名</p>
<%= @customer.last_name %><%= @customer.first_name %>

<p>フリガナ</p>
<%= @customer.last_name_kana %><%= @customer.first_name_kana %>

<p>郵便番号</p>
<%= @customer.postal_code %>

<p>住所</p>
<%= @customer.address %>

<p>メールアドレス</p>
<%= @customer.email %>

<p>会員ステータス</p>
<%= @customer.is_active %></br>

<%= link_to "編集する", edit_admin_customer_path(@customer) %>
