<div class="container">
  <h1>ジャンル新規投稿画面</h1>
    <div class="row p-4">
      <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
        <label>ジャンル名</label>
        <%= f.text_field :name %>
        <%= f.submit '登録', class: "btn btn-success"%>
      <% end %>
    </div>
    <div class ="row">
    <div class="col-4">
    <table class="table">
      <thead>
        <tr class="table-active">
          <th>ジャンル</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @genres.each do |f| %>
          <td><%= f.name %></td>
          <td><%= link_to '編集', edit_admin_genre_path(f.id), class: "btn btn-success"%></td>
        </tr>
          <% end %>
      </tbody>
    </table>
    </div>
</div>


