<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li>商品一覧</li>
      <li>新規登録</li>
      <li>ログイン</li>
    </ul>

  </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
