<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li>商品一覧</li>
      <li>新規登録</li>
      <li>ログイン</li>
      <% if admin_signed_in? %>
      <li>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
      <% elsif customer_signed_in? %>
      <li>
        <%= link_to "会員ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
      <% end %>
    </ul>

  </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
